@import "../../../styles/variables.scss";
.footer__footer {
  background: $orange__light;
  padding: 1.2rem 0;

  .fo__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include container;
    color: white;
    font-size: 0.75rem;
    gap: 1rem;

    .fo__desc {
      max-width: 730px;
    }

    @media screen and (min-width: $screen__desktop) {
      justify-content: space-between;
      gap: 0;
    }
  }
}
