@import "../../../styles/variables.scss";

.price__container {
  .product__price {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen__desktop) {
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }

    .price {
      color: $orange;
      font-size: 0.75rem;
      text-decoration: line-through;

      @media screen and (min-width: $screen__desktop) {
        font-size: 0.875rem;
      }
    }

    .offer {
      @media screen and (min-width: $screen__desktop) {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }

  .portion {
    color: $gray;
    font-size: 0.75rem;
    margin-top: 0.2rem;
  }
}
