@import "../../../styles/variables.scss";

.product__title {
  text-align: center;
  @media screen and (min-width: $screen__desktop) {
    text-align: start;
  }

  h1 {
    color: $orange__light;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 400;
    @media screen and (min-width: $screen__desktop) {
      color: $dark;
      font-size: 1.625rem;
      font-weight: 700;
    }
  }

  span {
    font-size: 0.75rem;
    color: $gray;

    @media screen and (min-width: $screen__desktop) {
      font-size: 0.875rem;
      color: $dark;
    }
  }
}
