@import "../../../../src/styles/variables.scss";

.button {
    text-transform: uppercase;
    display: block;
}

.btn__full {
    min-width: 100%;
}

.btn__large {
    width: 160px;
    height: 60px;
    border-radius: 3px;
    font-size: 1.125rem;
}

.btn__medium {
    width: 110px;
    height: 50px;
    border-radius: 3px;
    font-size: 0.875rem;
}

.btn__small {
    width: 80px;
    height: 40px;
    border-radius: 3px;
    font-size: 0.875rem;
}