@import "../../styles/variables.scss";

.logo__header {
  width: 6.875rem;

  @media screen and (min-width: $screen__desktop) {
    display: block;
    width: 9.25rem;
    margin: 0 auto;
  }
}

.logo__footer {
  display: block;
  width: 5.875rem;
  margin: 0 auto;

  @media screen and (min-width: $screen__desktop) {
    display: block;
    width: 6.875rem;
    margin: auto;
  }
}
