@import "../../../styles/variables.scss";

.newsletter {
  width: 100%;

  @media screen and (min-width: $screen__desktop) {
    width: 293px;
    height: 293px;
    padding: 2rem;
    border: 2px solid $gray__light;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    top: -5rem;
    position: relative;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: $gray__medium;
    margin-bottom: 1rem;

    @media screen and (min-width: $screen__desktop) {
      color: $dark;
      font-weight: 700;
    }
  }

  .news__form {
    label {
      font-size: 0.75rem;
      display: block;
      color: $gray__medium;
    }
    input {
      height: 28px;
      width: 100%;
      border-bottom: 1px solid $gray__light;
      margin-bottom: 1rem;
    }
  }

  .email {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    .email__input {
      flex: 1;
    }

    @media screen and (min-width: $screen__desktop) {
      display: block;
      margin: 0 auto;

      .button {
        margin: 0 auto;
      }
    }
  }
}
