@import "../../../styles/variables.scss";

.color {
  .color__name {
    margin-bottom: 0.875rem;
    align-items: center;
    gap: 0.4rem;
    span {
      font-size: 0.875rem;
      color: $dark;
    }

    span.color__value {
      display: none;
      color: $blue__dark;
      @media screen and (min-width: $screen__desktop) {
        display: inline;
        margin-left: 0.3rem;
      }
    }
  }
  .radio__container {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    margin-right: 0.5rem;

    .radio__input {
      display: none;
    }

    .radio__style {
      width: 23px;
      height: 23px;
      border-radius: 50%;
    }
  }
}
