@import "../../../../src/styles/variables.scss";

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 1.8rem 0;

  .social,
  .seal {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
