@import "../../../styles/variables.scss";

.mob__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media screen and (min-width: $screen__desktop) {
    display: none;
  }

  .buy__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
